@page "/select-table"
@layout LoginLayout
@using System.ComponentModel.DataAnnotations
@using WebApp.DTOs.Tables
@using Microsoft.JSInterop;

@inject ITableService TableService
@inject NavigationManager Navigation
@inject IJSRuntime jsRuntime

<div class="select-table">
    <div class="select-table__header">
        <img src="images/auth_logo.png" alt="Dine Master Logo" class="select-table__header-logo" />
        <h2 class="select-table__header-heading">Welcome Back, User!</h2>
        <p class="select-table__header-description">Please select the table number displayed on your table</p>
    </div>

    <EditForm Model="@tableSelectionModel" OnValidSubmit="@HandleTableSelection" class="select-table__form">
        <DataAnnotationsValidator />

        <div class="select-table__form-input-group">
            <label for="tableNumber" class="select-table__form-label">Table number</label>
            <InputSelect @bind-Value="tableSelectionModel.TableId" id="tableNumber" class="select-table__form-select">
                <option value="">Select table...</option>
                @foreach (var table in availableTables)
                {
                    <option value="@table.Id">@table.Number</option>
                }
            </InputSelect>
            <ValidationMessage For="@(() => tableSelectionModel.TableId)" class="select-table__form-validation-message" />
        </div>

        <button type="submit" class="select-table__form-button select-table__form-button--primary">Proceed</button>
        

        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <p class="select-table__error">@errorMessage</p>
        }
    </EditForm>
</div>

@code {
    private TableSelectionModel tableSelectionModel = new TableSelectionModel();
    private List<TableResponseDTO> availableTables = new List<TableResponseDTO>();
    string? errorMessage = null;

    protected override async Task OnInitializedAsync()
    {
        // Check if a table is already stored in local storage
        var storedTableId = await jsRuntime.InvokeAsync<string>("localStorage.getItem", "tableId");
        
        if (!string.IsNullOrEmpty(storedTableId))
        {
            // Redirect to /order if a table is already selected
            Navigation.NavigateTo("/order");
            return;
        }

        // Fetch available tables from the service
        var result = await TableService.GetAvailableTables();
        if (result.Success)
        {
            availableTables = result.Data;
        }
        else
        {
            errorMessage = "Error fetching available tables. Please try again later.";
        }
    }

    private async Task HandleTableSelection()
    {
        var selectedTable = availableTables.FirstOrDefault(t => t.Id == tableSelectionModel.TableId);
        if (selectedTable != null)
        {
            tableSelectionModel.TableNumber = selectedTable.Number;

            // Now send TableId to occupy the table
            var response = await TableService.OccupyTable(tableSelectionModel.TableId);

            if (response.Success)
            {
                // Store the selected table in local storage
                await jsRuntime.InvokeVoidAsync("localStorage.setItem", "tableId", tableSelectionModel.TableId.ToString());

                // Redirect to the order page
                Navigation.NavigateTo("/order");
            }
            else
            {
                errorMessage = response.Message;
            }
        }
        else
        {
            errorMessage = "Please select a valid table.";
        }
    }

    public class TableSelectionModel
    {
        [Required(ErrorMessage = "Table number is required")]
        public Guid TableId { get; set; }

        public string? TableNumber { get; set; }
    }
}
